Webpage_WS/src/main/java/Webservice/Ontology11.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="MyOntologyService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:9000/Ontology?xsd=1"/>
</xsd:schema>
</types>
<message name="getListMediabyGenre">
<part name="parameters" element="tns:getListMediabyGenre"/>
</message>
<message name="getListMediabyGenreResponse">
<part name="parameters" element="tns:getListMediabyGenreResponse"/>
</message>
<message name="getTV_ShowSeasonDate">
<part name="parameters" element="tns:getTV_ShowSeasonDate"/>
</message>
<message name="getTV_ShowSeasonDateResponse">
<part name="parameters" element="tns:getTV_ShowSeasonDateResponse"/>
</message>
<message name="addIemToLastClicks">
<part name="parameters" element="tns:addIemToLastClicks"/>
</message>
<message name="addIemToLastClicksResponse">
<part name="parameters" element="tns:addIemToLastClicksResponse"/>
</message>
<message name="getPersonBirthDate">
<part name="parameters" element="tns:getPersonBirthDate"/>
</message>
<message name="getPersonBirthDateResponse">
<part name="parameters" element="tns:getPersonBirthDateResponse"/>
</message>
<message name="getListOfGenresIn">
<part name="parameters" element="tns:getListOfGenresIn"/>
</message>
<message name="getListOfGenresInResponse">
<part name="parameters" element="tns:getListOfGenresInResponse"/>
</message>
<message name="getListPersonbyKind">
<part name="parameters" element="tns:getListPersonbyKind"/>
</message>
<message name="getListPersonbyKindResponse">
<part name="parameters" element="tns:getListPersonbyKindResponse"/>
</message>
<message name="getMediaTitle">
<part name="parameters" element="tns:getMediaTitle"/>
</message>
<message name="getMediaTitleResponse">
<part name="parameters" element="tns:getMediaTitleResponse"/>
</message>
<message name="getPersonName">
<part name="parameters" element="tns:getPersonName"/>
</message>
<message name="getPersonNameResponse">
<part name="parameters" element="tns:getPersonNameResponse"/>
</message>
<message name="getMediaGenre">
<part name="parameters" element="tns:getMediaGenre"/>
</message>
<message name="getMediaGenreResponse">
<part name="parameters" element="tns:getMediaGenreResponse"/>
</message>
<message name="getMediaRating">
<part name="parameters" element="tns:getMediaRating"/>
</message>
<message name="getMediaRatingResponse">
<part name="parameters" element="tns:getMediaRatingResponse"/>
</message>
<message name="getLastClicks">
<part name="parameters" element="tns:getLastClicks"/>
</message>
<message name="getLastClicksResponse">
<part name="parameters" element="tns:getLastClicksResponse"/>
</message>
<message name="getMediaRuntime">
<part name="parameters" element="tns:getMediaRuntime"/>
</message>
<message name="getMediaRuntimeResponse">
<part name="parameters" element="tns:getMediaRuntimeResponse"/>
</message>
<message name="getMovieDate">
<part name="parameters" element="tns:getMovieDate"/>
</message>
<message name="getMovieDateResponse">
<part name="parameters" element="tns:getMovieDateResponse"/>
</message>
<portType name="MyOntology">
<operation name="getListMediabyGenre">
<input wsam:Action="http://example/MyOntology/getListMediabyGenreRequest" message="tns:getListMediabyGenre"/>
<output wsam:Action="http://example/MyOntology/getListMediabyGenreResponse" message="tns:getListMediabyGenreResponse"/>
</operation>
<operation name="getTV_ShowSeasonDate">
<input wsam:Action="http://example/MyOntology/getTV_ShowSeasonDateRequest" message="tns:getTV_ShowSeasonDate"/>
<output wsam:Action="http://example/MyOntology/getTV_ShowSeasonDateResponse" message="tns:getTV_ShowSeasonDateResponse"/>
</operation>
<operation name="addIemToLastClicks">
<input wsam:Action="http://example/MyOntology/addIemToLastClicksRequest" message="tns:addIemToLastClicks"/>
<output wsam:Action="http://example/MyOntology/addIemToLastClicksResponse" message="tns:addIemToLastClicksResponse"/>
</operation>
<operation name="getPersonBirthDate">
<input wsam:Action="http://example/MyOntology/getPersonBirthDateRequest" message="tns:getPersonBirthDate"/>
<output wsam:Action="http://example/MyOntology/getPersonBirthDateResponse" message="tns:getPersonBirthDateResponse"/>
</operation>
<operation name="getListOfGenresIn">
<input wsam:Action="http://example/MyOntology/getListOfGenresInRequest" message="tns:getListOfGenresIn"/>
<output wsam:Action="http://example/MyOntology/getListOfGenresInResponse" message="tns:getListOfGenresInResponse"/>
</operation>
<operation name="getListPersonbyKind">
<input wsam:Action="http://example/MyOntology/getListPersonbyKindRequest" message="tns:getListPersonbyKind"/>
<output wsam:Action="http://example/MyOntology/getListPersonbyKindResponse" message="tns:getListPersonbyKindResponse"/>
</operation>
<operation name="getMediaTitle">
<input wsam:Action="http://example/MyOntology/getMediaTitleRequest" message="tns:getMediaTitle"/>
<output wsam:Action="http://example/MyOntology/getMediaTitleResponse" message="tns:getMediaTitleResponse"/>
</operation>
<operation name="getPersonName">
<input wsam:Action="http://example/MyOntology/getPersonNameRequest" message="tns:getPersonName"/>
<output wsam:Action="http://example/MyOntology/getPersonNameResponse" message="tns:getPersonNameResponse"/>
</operation>
<operation name="getMediaGenre">
<input wsam:Action="http://example/MyOntology/getMediaGenreRequest" message="tns:getMediaGenre"/>
<output wsam:Action="http://example/MyOntology/getMediaGenreResponse" message="tns:getMediaGenreResponse"/>
</operation>
<operation name="getMediaRating">
<input wsam:Action="http://example/MyOntology/getMediaRatingRequest" message="tns:getMediaRating"/>
<output wsam:Action="http://example/MyOntology/getMediaRatingResponse" message="tns:getMediaRatingResponse"/>
</operation>
<operation name="getLastClicks">
<input wsam:Action="http://example/MyOntology/getLastClicksRequest" message="tns:getLastClicks"/>
<output wsam:Action="http://example/MyOntology/getLastClicksResponse" message="tns:getLastClicksResponse"/>
</operation>
<operation name="getMediaRuntime">
<input wsam:Action="http://example/MyOntology/getMediaRuntimeRequest" message="tns:getMediaRuntime"/>
<output wsam:Action="http://example/MyOntology/getMediaRuntimeResponse" message="tns:getMediaRuntimeResponse"/>
</operation>
<operation name="getMovieDate">
<input wsam:Action="http://example/MyOntology/getMovieDateRequest" message="tns:getMovieDate"/>
<output wsam:Action="http://example/MyOntology/getMovieDateResponse" message="tns:getMovieDateResponse"/>
</operation>
</portType>
<binding name="MyOntologyPortBinding" type="tns:MyOntology">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getListMediabyGenre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTV_ShowSeasonDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addIemToLastClicks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersonBirthDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListOfGenresIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListPersonbyKind">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMediaTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersonName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMediaGenre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMediaRating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastClicks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMediaRuntime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovieDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyOntologyService">
<port name="MyOntologyPort" binding="tns:MyOntologyPortBinding">
<soap:address location="http://localhost:9000/Ontology"/>
</port>
</service>
</definitions>