Webpage_WS/src/main/java/Webservice/Ontology.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="MyOntologyService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:9000/Ontology?xsd=1"/>
</xsd:schema>
</types>
<message name="getListOfGenresIn">
<part name="parameters" element="tns:getListOfGenresIn"/>
</message>
<message name="getListOfGenresInResponse">
<part name="parameters" element="tns:getListOfGenresInResponse"/>
</message>
<message name="addIemToLastClicks">
<part name="parameters" element="tns:addIemToLastClicks"/>
</message>
<message name="addIemToLastClicksResponse">
<part name="parameters" element="tns:addIemToLastClicksResponse"/>
</message>
<message name="getLastClicks">
<part name="parameters" element="tns:getLastClicks"/>
</message>
<message name="getLastClicksResponse">
<part name="parameters" element="tns:getLastClicksResponse"/>
</message>
<portType name="MyOntology">
<operation name="getListOfGenresIn">
<input wsam:Action="http://example/MyOntology/getListOfGenresInRequest" message="tns:getListOfGenresIn"/>
<output wsam:Action="http://example/MyOntology/getListOfGenresInResponse" message="tns:getListOfGenresInResponse"/>
</operation>
<operation name="addIemToLastClicks">
<input wsam:Action="http://example/MyOntology/addIemToLastClicksRequest" message="tns:addIemToLastClicks"/>
<output wsam:Action="http://example/MyOntology/addIemToLastClicksResponse" message="tns:addIemToLastClicksResponse"/>
</operation>
<operation name="getLastClicks">
<input wsam:Action="http://example/MyOntology/getLastClicksRequest" message="tns:getLastClicks"/>
<output wsam:Action="http://example/MyOntology/getLastClicksResponse" message="tns:getLastClicksResponse"/>
</operation>
</portType>
<binding name="MyOntologyPortBinding" type="tns:MyOntology">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getListOfGenresIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addIemToLastClicks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastClicks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyOntologyService">
<port name="MyOntologyPort" binding="tns:MyOntologyPortBinding">
<soap:address location="http://localhost:9000/Ontology"/>
</port>
</service>
</definitions>